
*{
  font-family: 'Pretendard Variable';
}

:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --primary: rgba(18, 18, 18, 1);
  --secondary: rgba(255, 255, 255, 1);
  --tertiary: rgba(245, 245, 245, 1);
  --accent: rgba(39, 110, 241, 1);
  --negative: rgba(225, 25, 0, 1);
  --warning: rgba(255, 192, 67, 1);
  --positive: rgba(4, 136, 72, 1);
  --positive-transparent: rgba(4, 136, 72, 0.10000000149011612);
  --negative-tranparent: rgba(225, 25, 0, 0.10000000149011612);
  --blue--100: rgba(204, 227, 255, 1);
  --blue--200: rgba(153, 200, 255, 1);
  --blue--300: rgba(102, 172, 255, 1);
  --blue--400: rgba(51, 145, 255, 1);
  --blue--500: rgba(0, 117, 255, 1);
  --blue--600: rgba(0, 94, 204, 1);
  --blue--700: rgba(0, 70, 153, 1);
  --blue--800: rgba(0, 47, 102, 1);
  --blue--900: rgba(0, 23, 51, 1);
  --red--100: rgba(255, 204, 204, 1);
  --red--200: rgba(255, 153, 153, 1);
  --red--300: rgba(255, 102, 102, 1);
  --red--400: rgba(255, 51, 51, 1);
  --red--500: rgba(255, 0, 0, 1);
  --red--600: rgba(204, 0, 0, 1);
  --red--700: rgba(153, 0, 0, 1);
  --red--800: rgba(102, 0, 0, 1);
  --red--900: rgba(51, 0, 0, 1);
  --yellow--100: rgba(255, 244, 204, 1);
  --yellow--200: rgba(255, 233, 153, 1);
  --yellow--300: rgba(255, 221, 102, 1);
  --yellow--400: rgba(255, 210, 51, 1);
  --yellow--500: rgba(255, 199, 0, 1);
  --yellow--600: rgba(204, 159, 0, 1);
  --yellow--700: rgba(153, 119, 0, 1);
  --yellow--800: rgba(102, 80, 0, 1);
  --yellow--900: rgba(51, 40, 0, 1);
  --green--100: rgba(215, 248, 204, 1);
  --green--200: rgba(176, 241, 153, 1);
  --green--300: rgba(136, 235, 102, 1);
  --green--400: rgba(97, 228, 51, 1);
  --green--500: rgba(57, 221, 0, 1);
  --green--600: rgba(46, 177, 0, 1);
  --green--700: rgba(34, 133, 0, 1);
  --green--800: rgba(23, 88, 0, 1);
  --green--900: rgba(11, 44, 0, 1);
  --contents--content-primary: rgba(0, 0, 0, 1);
  --contents--content-secondary: rgba(107, 107, 107, 1);
  --contents--content-tertiary: rgba(166, 166, 166, 1);
  --gray--100: rgba(225, 225, 225, 1);
  --gray--200: rgba(196, 196, 196, 1);
  --gray--300: rgba(166, 166, 166, 1);
  --gray--400: rgba(137, 137, 137, 1);
  --gray--500: rgba(107, 107, 107, 1);
  --gray--600: rgba(86, 86, 86, 1);
  --gray--700: rgba(64, 64, 64, 1);
  --gray--800: rgba(43, 43, 43, 1);
  --gray--900: rgba(21, 21, 21, 1);
  --border----border-transparent: rgba(137, 137, 137, 0.30000001192092896);
  --border--border-opaque: rgba(137, 137, 137, 1);
  --info--accent: rgba(0, 117, 255, 1);
  --info--negative: rgba(255, 0, 0, 1);
  --info--warning: rgba(255, 199, 0, 1);
  --info--positive: rgba(57, 221, 0, 1);
  --info--positive-transparent: rgba(57, 221, 0, 0.10000000149011612);
  --info--negative-transparent: rgba(255, 0, 0, 0.10000000149011612);
  --pink--100: rgba(248, 204, 249, 1);
  --pink--200: rgba(240, 153, 242, 1);
  --pink--300: rgba(233, 102, 236, 1);
  --pink--400: rgba(226, 51, 229, 1);
  --pink--500: rgba(219, 0, 223, 1);
  --pink--600: rgba(175, 0, 178, 1);
  --pink--700: rgba(131, 0, 134, 1);
  --pink--800: rgba(87, 0, 89, 1);
  --pink--900: rgba(44, 0, 45, 1);
  --oragne--orange: rgba(252, 147, 0, 1);

  /* Text-size styles */
  --heading-----x-x-x-l: 3.1573rem;
  --heading---x-x-l: 2.3686rem;
  --heading---x-l: 1.7769rem;
  --heading---large: 1.333rem;
  --heading---medium: 1rem;
  --label---x-x-l: 2.3686rem;
  --label---x-l: 1.7769rem;
  --label---large: 1.333rem;
  --label---medium: 1rem;
  --label---small: 0.7502rem;
  --paragraph---x-l: 1.7769rem;
  --paragraph---large: 1.333rem;
  --paragraph---medium: 1rem;
  --paragraph---small: 0.7502rem;

  /* Effect styles */
  --above---high: 0px -16px 48px rgba(0, 0, 0, 0.3);
  --above---medium: 0px -8px 36px rgba(0, 0, 0, 0.2);
  --above---low: 0px -4px 24px rgba(0, 0, 0, 0.1);
  --below---high: 0px 16px 48px rgba(0, 0, 0, 0.3);
  --below---medium: 0px 8px 36px rgba(0, 0, 0, 0.2);
  --below---low: 0px 4px 24px rgba(0, 0, 0, 0.1);
  --spacing--medium: 2rem;
  --spacing--large: 2.5rem;
}

.qna-box__container {
  background: var(--white);

  /* 가운데 박스 */
  .qna-box__inner {
    max-width: 1280px;
    margin-inline: auto;
    padding: 2.25rem 1.5rem;
    color: var(--contents--content-primary);
  }

  /* 헤딩 제목 */
  .heading-text {
    margin-block-end: 2.25rem;
    font-size: var(--heading---large);
    font-weight: 800;
  }

  /* tablet */
  @media (width <= 1280px) and (width >= 768px) {
    .qna-box__inner {
      padding: 3.5rem 2rem;
    }
    .heading-text {
      font-size: var(--heading---x-l);
    }
  }

  /* PC */
  @media (width > 1280px) {
    .qna-box__inner {
      padding: 4rem;
    }
    .heading-text {
      font-size: var(--heading---x-x-l);
    }
  }
}

/* 질문 탭 메뉴 */
.qna-box__item-box {
  border-bottom: 1px solid var(--border----border-transparent);
  line-height: 150%;

  /* 공통 서식 */
  .qna-box__item-title,
  .qna-box__item-desc {
    font-size: 1rem;
  }

  /* 질문 제목 */
  .qna-box__item-title {
    display: flex;
    column-gap: 2.25rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    font-weight: 600;
    list-style: none;
    cursor: pointer;
  }
  .qna-box__item-title::-webkit-details-marker {
    display: none;
  }

  /* 질문 제목 포커스 */
  .qna-box__item-title:focus-visible {
    outline: 2px solid var(--contents--content-primary);
    outline-offset: -2px;
    background-color: var(--tertiary);
  }

  /* 펼치기 아이콘 */
  .qna-box__toggle-icon {
    flex: 0 0 auto;
  }
  .icon-minus,
  .icon-plus {
    display: none;
  }

  /* 펼치기 아이콘 펼침 */
  &[open] .icon-minus {
    display: block;
  }
  &:not([open]) .icon-plus {
    display: block;
  }

  /* 질문상자 내용 */
  .qna-box__item-desc {
    display: flex;
    flex-flow: nowrap column;
    row-gap: 1.5rem;
    padding: 1.5rem;
    color: var(--contents--content-primary);
    font-size: 1rem;
    font-weight: 400;
    word-break: keep-all;
  }

  .qna-box__item-desc ol {
    padding-inline-start: 1.25rem;
    list-style: decimal;
  }

  .qna-box__item-desc a {
    display: block;
    padding: 0.25rem;
    border-bottom: 1px solid var(--contents--content-tertiary);
    color: inherit;
    font-weight: 600;
    text-decoration: none;
  }

  @media (width >= 1280px) {
    line-height: 160%;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer {
  display: flex;
  flex-flow: nowrap column;
  gap: 64px;
  padding: 40px 24px 40px 24px;
  background: var(--primary);
  color: var(--secondary);

  .customerCenter {
    display: flex;
    flex-flow: nowrap column;
    gap: 28px;

    font-size: var(--label---medium);
    font-weight: 600;
    line-height: 150%;

    .footerLogo {
      width: 39px;
      height: 39px;
    }
  }

  .footerNav {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;

    font-weight: 600;
    line-height: 150%;

    .navSection {
      .navSection__heading {
        margin: 0;
        margin-block-end: 20px;
        font-size: var(--label---large);
      }
      .navSection__item {
        margin-block-end: 16px;
        font-size: var(--label---medium);
      }
    }
  }

  .snsDownload {
    display: flex;
    flex-flow: nowrap column;
    gap: 36px;

    .sns {
      display: flex;
      flex-flow: nowrap row;
      gap: 94px;
      .sns__item {
        width: 16px;
        height: 16px;
      }
    }
    .langLocation {
      display: flex;
      flex-flow: nowrap row;
      gap: 60px;

      .language {
        a {
          display: flex;
          gap: 4px;
          line-height: 24px;

          span {
            transform: translateY(2px);
          }

          img {
            width: 24px;
            height: 24px;
          }
        }
      }

      .location {
        a {
          display: flex;
          flex-flow: nowrap row;
          gap: 4px;
          line-height: 24px;

          span {
            transform: translateY(2px);
          }
        }
      }
    }
    .download {
      display: flex;
      flex-flow: nowrap row;
      gap: 16px;
      a {
        width: 135px;
        height: 40px;
      }
    }
  }

  .copyright {
    display: flex;
    flex-flow: nowrap column;
    gap: 36px;

    .copyInfo {
      display: flex;
      flex-flow: nowrap row;
      gap: 36px;
      color: var(--contents--content-tertiary);

      font-size: var(--paragraph---small);
      font-weight: 400;
      line-height: 160%;

      p:first-child {
        flex-shrink: 0;
      }
      p:nth-child(2) {
        width: 100%;
        max-width: 716px;
      }
    }

    .term {
      display: flex;
      flex-flow: nowrap row;
      gap: 31px;
      color: var(--contents--content-tertiary);

      font-size: var(--paragraph---small);
      font-weight: 400;
      line-height: 160%;
    }
  }
}

@media (768px <= width < 1280px) {
  footer {
    padding: 56px 32px 56px 32px;

    .footerNav {
      width: 100%;
      max-width: 700px;
    }
    .snsDownload {
      flex-flow: wrap row;
      justify-content: space-between;
      .download {
        flex-basis: 100%;
      }
    }
  }
}
@media (width >= 1280px) {
  footer {
    padding: 64px 64px 64px 64px;

    .footerNav {
      max-width: 700px;
    }
    .snsDownload {
      flex-flow: nowrap row;
      justify-content: space-between;
    }
    .copyright {
      flex-flow: nowrap row;
      justify-content: space-between;
      .copyInfo {
        p:nth-child(2) {
          width: 100%;
          max-width: 427px;
        }
      }
    }
  }
}

/* download 부분 컴포넌트 스타일링 */
.section_download {
  background-color: #f5f5f5;
}

.app_download_box {
  display: flex;
  flex-flow: nowrap column;
  gap: var(--spacing--medium);
  max-width: 1280px;
  margin: auto;
  padding: 40px 24px;

  h2 {
    font-size: 21px;
    line-height: 1.4;
    white-space: nowrap;
  }

  .download_component {
    display: flex;
    flex-flow: nowrap row;
    gap: 10px;
    align-items: center;
    min-width: 0;
    height: 136px;
    padding: 15px;
    background: white;

    svg {
      flex-shrink: 0;
      order: 1;
    }

    figcaption {
      flex-shrink: 1;
      order: 2;
      min-width: 0;
      font-size: var(--paragraph---large);
      white-space: nowrap;
    }

    .download_app_link {
      flex-shrink: 0;
      order: 3;
      margin-left: auto;
    }
  }
}

/* download 부분 반응형 웹 레이아웃 */

@media (width>= 768px) {
  .app_download_box {
    display: flex;
    flex-flow: nowrap column;
    padding: 56px 32px;
  }

  h2 {
    font-size: 1.75rem;
  }

  .download_component {
    display: flex;
    gap: 36px;
    height: 198px;
    padding: var(--spacing--medium);

    figcaption {
      flex-grow: 0;
    }

    .download_app_link {
      figcaption {
        flex: 0 0 auto;
      }
    }
  }
}

@media (width>= 1180px) {
  .app_download_box {
    display: flex;
    flex-flow: wrap row;
    height: auto;

    h2 {
      width: 100%;
      font-size: 2.375rem;
    }

    .download_component {
      display: flex;
      flex-grow: 1;
      height: 192px;
      padding: var(--spacing--large);
    }
  }
}

/* about 부분 컴포넌트 스타일링 */
.app_about_box {
  display: flex;
  flex-flow: nowrap column;
  gap: 36px;
  max-width: 1280px;
  margin: auto;
  padding: 40px 24px;
  background-color: #ffffff;

  .about_company,
  .about_news {
    display: flex;
    flex-flow: nowrap column;
    gap: 12px;
    margin-right: auto;
  }
  h3 {
    font-weight: 600;
  }

  .about_details {
    color: inherit;
    text-decoration: none;
    text-decoration: underline var(--black);
    text-underline-offset: 8px;
  }
}

/* about 부분 반응형 웹 레이아웃 */

@media (width >= 768px) {
  .app_about_box {
    display: flex;
    flex-flow: nowrap row;
    column-gap: 36px;
    padding: 56px 32px;
  }
}

@media (width >= 1180px) {
  .app_about_box {
    display: flex;
    flex-flow: nowrap row;
    column-gap: 36px;
    padding: 64px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 예전 브라우저 대응 */
  clip-path: inset(50%); /* 최신 브라우저 대응 */
}
.apply__wrapper {
  background: var(--white);
}
.apply {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
  padding: 2.5rem 1.5rem;
  color: var(--contents--content-primary);

  .apply__title {
    font-size: var(--heading---x-x-l);
  }
  .apply__subtitle {
    margin-block: 2.25rem;
    font-size: var(--label---large);
  }
  .apply__link {
    font-size: var(--label---medium);
  }

  .apply__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .apply__policy-text {
    margin-block: 2.25rem;
    font-size: var(--paragraph---small);
    line-height: 1.5;
  }
  .apply__link,
  .apply__footer-link {
    display: inline-block;
    padding: 0.25rem;
    border-bottom: 1px solid var(--contents--content-primary);
    color: var(--contents--content-primary);
    text-decoration: none;
  }
}
.apply__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .apply__error-message {
    display: none;
    color: var(--negative);
    font-size: var(--paragraph---small);
  }

  /* 비밀번호가 입력 중인데(placeholder가 숨겨짐) 형식이 틀렸다면(invalid) */
  .apply__input[type='password']:not(:placeholder-shown):invalid + .apply__error-message {
    display: block;
  }

  .apply__input {
    height: 3.125rem;
    padding-inline: 0.75rem;
    border: 1px solid var(--border----border-transparent);
    background: var(--tertiary);
    color: var(--contents--content-primary);
    font-size: var(--label---medium);

    &[type='email']:valid {
      border: 2px solid var(--positive);
      background: var(--positive-transparent);
    }

    &[type='password']:user-invalid,
    &[type='email']:user-invalid {
      border: 2px solid var(--negative);
      background: var(--negative-tranparent);
    }

    &::placeholder {
      color: var(--contents--content-secondary);
    }
  }

  .apply__form-name-group {
    display: flex;
    gap: 1rem;

    .apply__input-first-name,
    .apply__input-last-name {
      flex: 1 1 0;
      min-width: 0;
    }
  }
  .apply__select:valid {
    color: var(--contents--content-primary);
    font-weight: 700;
  }
}
.apply__footer {
  display: flex;
  font-size: var(--label---medium);

  .apply__footer-button {
    margin-inline-end: 2.25rem;
    padding: 1rem 1.5rem;
    background: var(--black);
    color: var(--white);
    font-size: var(--label---medium);

    &:focus-visible {
      outline: 2px solid var(--blue--300);
      outline-offset: 2px;
    }
  }

  .apply__footer-login {
    display: flex;
    gap: 1rem;
    align-items: center;
    .apply__footer-text {
      color: var(--contents--content-tertiary);
      font-size: var(--paragraph---small);
    }
  }
}
@media (768px< width <= 1279px) {
  .apply {
    padding: 2rem 3.5rem;
  }
}

@media (min-width: 1280px) {
  .apply {
    flex-direction: row;
    gap: 17.75rem;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;

    .apply__title {
      flex: 1 1 0;
      font-size: var(--heading-----x-x-x-l);
    }
    .apply__form-wrapper {
      --above---high: 0px -16px 48px rgba(0, 0, 0, 0.3);
      --above---medium: 0px -8px 36px rgba(0, 0, 0, 0.2);
      --above---low: 0px -4px 24px rgba(0, 0, 0, 0.1);
      --below---high: 0px 16px 48px rgba(0, 0, 0, 0.3);
      --below---medium: 0px 8px 36px rgba(0, 0, 0, 0.2);
      --below---low: 0px 4px 24px rgba(0, 0, 0, 0.1);
      flex: 1;
    }
  }
}