:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --primary: rgba(18, 18, 18, 1);
  --secondary: rgba(255, 255, 255, 1);
  --tertiary: rgba(245, 245, 245, 1);
  --accent: rgba(39, 110, 241, 1);
  --negative: rgba(225, 25, 0, 1);
  --warning: rgba(255, 192, 67, 1);
  --positive: rgba(4, 136, 72, 1);
  --positive-transparent: rgba(4, 136, 72, 0.10000000149011612);
  --negative-tranparent: rgba(225, 25, 0, 0.10000000149011612);
  --blue--100: rgba(204, 227, 255, 1);
  --blue--200: rgba(153, 200, 255, 1);
  --blue--300: rgba(102, 172, 255, 1);
  --blue--400: rgba(51, 145, 255, 1);
  --blue--500: rgba(0, 117, 255, 1);
  --blue--600: rgba(0, 94, 204, 1);
  --blue--700: rgba(0, 70, 153, 1);
  --blue--800: rgba(0, 47, 102, 1);
  --blue--900: rgba(0, 23, 51, 1);
  --red--100: rgba(255, 204, 204, 1);
  --red--200: rgba(255, 153, 153, 1);
  --red--300: rgba(255, 102, 102, 1);
  --red--400: rgba(255, 51, 51, 1);
  --red--500: rgba(255, 0, 0, 1);
  --red--600: rgba(204, 0, 0, 1);
  --red--700: rgba(153, 0, 0, 1);
  --red--800: rgba(102, 0, 0, 1);
  --red--900: rgba(51, 0, 0, 1);
  --yellow--100: rgba(255, 244, 204, 1);
  --yellow--200: rgba(255, 233, 153, 1);
  --yellow--300: rgba(255, 221, 102, 1);
  --yellow--400: rgba(255, 210, 51, 1);
  --yellow--500: rgba(255, 199, 0, 1);
  --yellow--600: rgba(204, 159, 0, 1);
  --yellow--700: rgba(153, 119, 0, 1);
  --yellow--800: rgba(102, 80, 0, 1);
  --yellow--900: rgba(51, 40, 0, 1);
  --green--100: rgba(215, 248, 204, 1);
  --green--200: rgba(176, 241, 153, 1);
  --green--300: rgba(136, 235, 102, 1);
  --green--400: rgba(97, 228, 51, 1);
  --green--500: rgba(57, 221, 0, 1);
  --green--600: rgba(46, 177, 0, 1);
  --green--700: rgba(34, 133, 0, 1);
  --green--800: rgba(23, 88, 0, 1);
  --green--900: rgba(11, 44, 0, 1);
  --contents--content-primary: rgba(0, 0, 0, 1);
  --contents--content-secondary: rgba(107, 107, 107, 1);
  --contents--content-tertiary: rgba(166, 166, 166, 1);
  --gray--100: rgba(225, 225, 225, 1);
  --gray--200: rgba(196, 196, 196, 1);
  --gray--300: rgba(166, 166, 166, 1);
  --gray--400: rgba(137, 137, 137, 1);
  --gray--500: rgba(107, 107, 107, 1);
  --gray--600: rgba(86, 86, 86, 1);
  --gray--700: rgba(64, 64, 64, 1);
  --gray--800: rgba(43, 43, 43, 1);
  --gray--900: rgba(21, 21, 21, 1);
  --border----border-transparent: rgba(137, 137, 137, 0.30000001192092896);
  --border--border-opaque: rgba(137, 137, 137, 1);
  --info--accent: rgba(0, 117, 255, 1);
  --info--negative: rgba(255, 0, 0, 1);
  --info--warning: rgba(255, 199, 0, 1);
  --info--positive: rgba(57, 221, 0, 1);
  --info--positive-transparent: rgba(57, 221, 0, 0.10000000149011612);
  --info--negative-transparent: rgba(255, 0, 0, 0.10000000149011612);
  --pink--100: rgba(248, 204, 249, 1);
  --pink--200: rgba(240, 153, 242, 1);
  --pink--300: rgba(233, 102, 236, 1);
  --pink--400: rgba(226, 51, 229, 1);
  --pink--500: rgba(219, 0, 223, 1);
  --pink--600: rgba(175, 0, 178, 1);
  --pink--700: rgba(131, 0, 134, 1);
  --pink--800: rgba(87, 0, 89, 1);
  --pink--900: rgba(44, 0, 45, 1);
  --oragne--orange: rgba(252, 147, 0, 1);

  /* Text-size styles */
  --heading-----x-x-x-l: 3.1573rem;
  --heading---x-x-l: 2.3686rem;
  --heading---x-l: 1.7769rem;
  --heading---large: 1.333rem;
  --heading---medium: 1rem;
  --label---x-x-l: 2.3686rem;
  --label---x-l: 1.7769rem;
  --label---large: 1.333rem;
  --label---medium: 1rem;
  --label---small: 0.7502rem;
  --paragraph---x-l: 1.7769rem;
  --paragraph---large: 1.333rem;
  --paragraph---medium: 1rem;
  --paragraph---small: 0.7502rem;

  /* Effect styles */
  --above---high: 0px -16px 48px rgba(0, 0, 0, 0.3);
  --above---medium: 0px -8px 36px rgba(0, 0, 0, 0.2);
  --above---low: 0px -4px 24px rgba(0, 0, 0, 0.1);
  --below---high: 0px 16px 48px rgba(0, 0, 0, 0.3);
  --below---medium: 0px 8px 36px rgba(0, 0, 0, 0.2);
  --below---low: 0px 4px 24px rgba(0, 0, 0, 0.1);
  --spacing--medium: 2rem;
  --spacing--large: 2.5rem;
}

/* download 부분 컴포넌트 스타일링 */
.section_download {
  background-color: #f5f5f5;
}

.app_download_box {
  max-width: 1280px;
  margin: auto;
  padding: 40px 24px;
  display: flex;
  flex-flow: nowrap column;
  gap: var(--spacing--medium);

  h2 {
    font-size: 21px;
    line-height: 1.4;
    white-space: nowrap;
  }

  .download_component {
    height: 136px;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background: white;
    min-width: 0;

    svg {
      flex-shrink: 0;
      order: 1;
    }

    figcaption {
      font-family: pretendard;
      font-size: var(--paragraph---large);
      white-space: nowrap;
      flex-shrink: 1;
      min-width: 0;
      order: 2;
    }

    .download_app_link {
      flex-shrink: 0;
      margin-left: auto;
      order: 3;
    }
  }
}

/* download 부분 반응형 웹 레이아웃 */

@media (width>= 768px) {
  .app_download_box {
    padding: 56px 32px;
    display: flex;
    flex-flow: nowrap column;

    h2 {
      font-size: 1.75rem;
    }

    .download_component {
      height: 198px;
      padding: var(--spacing--medium);
      display: flex;
      gap: 36px;

      figcaption {
        flex-grow: 0;
      }

      .download_app_link {
        figcaption {
          flex: 0 0 auto;
        }
      }
    }
  }
}

@media (width>= 1180px) {
  .app_download_box {
    height: auto;
    display: flex;
    flex-flow: wrap row;

    h2 {
      width: 100%;
      font-size: 2.375rem;
    }

    .download_component {
      height: 192px;
      padding: var(--spacing--large);
      display: flex;
      flex-grow: 1;
    }
  }
}

/* about 부분 컴포넌트 스타일링 */
.app_about_box {
  background-color: #ffffff;
  max-width: 1280px;
  margin: auto;
  padding: 40px 24px;
  display: flex;
  flex-flow: nowrap column;
  gap: 36px;

  .about_company,
  .about_news {
    display: flex;
    flex-flow: nowrap column;
    gap: 12px;
    margin-right: auto;
  }
  h3 {
    font-weight: 600;
  }

  .about_details {
    color: inherit;
    text-decoration: none;
    text-decoration: underline var(--black);
    text-underline-offset: 8px;
  }
}

/* about 부분 반응형 웹 레이아웃 */

@media (width >= 768px) {
  .app_about_box {
    padding: 56px 32px;
    display: flex;
    flex-flow: nowrap row;
    column-gap: 36px;
  }
}

@media (width >= 1180px) {
  .app_about_box {
    padding: 64px;
    display: flex;
    flex-flow: nowrap row;
    column-gap: 36px;
  }
}
